.root {
   -fx-font-weight: bold;
   -fx-font-family: Calibri;
}

.Button {
    -fx-font-size: 10pt;
    -fx-background-color: #5a85a3;
    -fx-text-fill: white;
}

.ButtonRed {
    -fx-font-size: 10pt;
    -fx-background-color: #854249;
    -fx-text-fill: white;
}

.ButtonGreen {
    -fx-font-size: 10pt;
    -fx-background-color: #73679e;
    -fx-text-fill: white;
}

.Button:pressed {
    -fx-padding: 10 10 10 10;
}

.TextField {
    -fx-background-color: #363636;
    -fx-border-color: #363636;
    -fx-border-width: 15px;
    -fx-border-radius: 20px;
    -fx-text-fill:white;
}

.TextField .content {
    -fx-background-color: #363636;
    -fx-border-color: #363636;
}

.TableView {
    -fx-background-color: #363636;
    -fx-text-fill: white;
}

.TableView .table-cell {
    -fx-text-fill: white;
}

.TableView .column-header {
    -fx-background-color: #363636;
}

.TableView .column-header-background .label{
    -fx-background-color: #363636;
    -fx-text-fill: white;
}


.table-row-cell {
    -fx-background-color: #363636;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: #393939;
}

.table-row-cell:selected {
    -fx-background-color: #73679e;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}



